// Fonts
@import url('https://fonts.googleapis.com/css?family=Karma');
$font-family-sans-serif:  'Abel', sans-serif !default;
$font-size-base:          16px !default;
$line-height-base:        1.5 !default; // 20/14

// Custom colors
$brand-primary:          #1D8670 !default;
$brand-success:          #74D9A2 !default;
$brand-info:             #74BED9 !default;
$brand-warning:          #F2BA50 !default;
$brand-danger:           #E36563 !default;

// We import bootstrap
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

// We import our custom css stuff
@import "_agronomic.scss";
