p {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  color: #777;
  margin-bottom: 20px;
}

img.launch-img {
  margin-top: 50px;
}

@media (max-width: $screen-sm-min) {
  img.launch-img {
    width: 50%;
  }
  p {
    width: 290px;
  }
}
