
body {
 font-family: 'Work Sans', sans-serif;
 font-weight: 300;
}
h2 {
  color: green;
  font-size: 30px;
  font-weight: 300;
  padding: 20px 20px 20px 20px;
}
h3 {
  padding: 20px 20px 20px 20px;
  font-size: 30px;
}
.green-background {
  background-color: #3ADC84;
}
.silver-background {
  background-color: #EAEAEA;
}
p {
  padding: 0px 20px 0px 20px;
}
.image-header {
  width: auto;
}
.nombre-equipo {
  font-size: 30px;
  font-weight: 700;
  color: gray;
}
.cargo-equipo {
  font-size: 28px;
  font-weight: 500;
  color: gray;
}
.decripcion-equipo {
  font-size: 25px;
  font-weight: 300;
  color: gray;
}
.form {
  text-align: center;
}
